<!-- FOOTER -->
<footer>
  <div class="container">
    <span> Versione Crawler: <%- crawlerVersion %> </span>
    <a href="https://innovazione.gov.it/" target="_blank"
      >Dipartimento per la trasformazione digitale</a
    >
  </div>
</footer>
