<div class="it-header-center-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <div class="it-brand-text">
              <div class="it-brand-title h4">
                Crawler v <%- crawlerVersion %>
              </div>
              <div class="it-brand-tagline d-none d-md-block">Data</div>
            </div>
          </div>
          <div class="it-right-zone">
            <ul class="d-flex">
              <li><a data-page="home" href="/home">Home</a></li>
              <li><a data-page="history" href="/history">History</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>