<form id="urlForm" class="form-group pt-4">
  <div class="input-group">
    <span class="input-group-text"><svg class="icon icon-sm">
        <use href="#it-search"></use>
      </svg></span>
    <label for="inputUrl">Url sito</label>
    <input type="text" class="form-control" id="inputUrl" name="inputUrl" />
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" id="startBtn" disabled>
        Avvia scansione
      </button>
    </div>
    <div id="progress-spinner" class="progress-spinner progress-spinner-active d-none">
      <span class="visually-hidden">Caricamento...</span>
    </div>
    <div class="more-info">
      Inserisci l'url del sito che si vuole scansionare
    </div>
  </div>
</form>