@use "variables" as *;

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &.pass {
    background-color: $success;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' stroke='white' stroke-width='1.5'%3E%3Cpath d='M9.6 16.9 4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7-9.2 9.1z'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  &.fail {
    background-color: $error;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' stroke='white' stroke-width='1.5'%3E%3Cpath d='m12.7 12 3.7 3.6-.8.8-3.6-3.7-3.6 3.7-.8-.8 3.7-3.6-3.7-3.6.8-.8 3.6 3.7 3.6-3.7.8.8-3.7 3.6z'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  &.error {
    color: $error;
    outline: 2px solid $error;
    outline-offset: -2px;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23B42D43' stroke='%23B42D43' stroke-width='1.5'%3E%3Cpath d='m12.7 12 3.7 3.6-.8.8-3.6-3.7-3.6 3.7-.8-.8 3.7-3.6-3.7-3.6.8-.8 3.6 3.7 3.6-3.7.8.8-3.7 3.6z'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  &.undone {
    color: $undone;
    outline: 2px solid $undone;
    outline-offset: -2px;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23545151' stroke='%23545151' stroke-width='1.5'%3E%3Cpath d='M14 12.5H7v-1h10v1z'/%3E%3C/svg%3E");
    }
  }
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    left: 6px;
    top: 6px;
  }

  .circle + input[type="checkbox"] {
    left: 34px;
  }
}
