@use "variables" as *;

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

  &::before {
    font-size: var(--fs-14px);
    line-height: 1.42857;
    font-weight: bold;
  }

  &.pass {
    background-color: $success;

    &::before {
      content: "\2713"; /* check */
      color: $white;
    }
  }

  &.fail {
    background-color: $error;

    &::before {
      content: "\2715"; /* times */
      color: $white;
    }
  }

  &.error {
    color: $error;
    outline: 2px solid $error;
    outline-offset: -2px;

    &::before {
      content: "\2715"; /* times */
      color: $error;
    }
  }

  &.undone {
    color: $undone;
    outline: 2px solid $undone;
    outline-offset: -2px;

    &::before {
      content: "\2212"; /* minus */
      color: $undone;
      font-size: var(--fs-16px);
      line-height: 1;
    }
  }
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;

  input[type="checkbox"] {
    left: 6px;
    top: 6px;
  }

  .circle + input[type="checkbox"] {
    left: 34px;
  }
}
