@use "variables" as *;

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;

  &.pass {
    background-color: $success;
  }

  &.fail {
    background-color: $error;
  }

  &.error,
  &.undone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 20px;
  }

  &.error {
    color: $error;
    border: 2px solid $error;
  }

  &.undone {
    color: #545151;
    border: 2px solid #545151;
  }
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
}
