@use "variables" as *;

.top-text p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.cards-container {
  margin-block: 20px;

  .card-wrapper {
    width: 50%;

    .card {
      &::after {
        display: none;
      }

      .card-body {
        padding: 16px 24px;

        &.error {
          background-color: $error;

          .card-title {
            color: $white;
          }

          svg {
            width: 70px;
            height: 70px;
            stroke: $error;
            stroke-width: 2px;
          }
        }

        .card-title {
          font-size: 20px;
          margin: 0;
          color: $primary;
          width: 100%;
          text-align: center;
        }

        .card-content {
          .result-point {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-size: 44px;
            font-weight: bold;
            text-transform: uppercase;

            &.ko {
              background-color: $error;
            }

            &.ok {
              background-color: $success;
            }

            &.error {
              background-color: $white;

              svg {
                width: 50px;
                height: 50px;
                font-weight: 700;
                fill: $error;
              }
            }
          }

          .progress-donut-wrapper {
            &::before {
              background: $error;
            }

            .progressbar-text {
              font-size: 1.25rem;
            }
          }

          .result-donut {
            font-size: 16px;
            margin-top: 8px;
            text-align: center;

            span {
              font-size: 18px;
              font-weight: bold;
              color: $success-text;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
    row-gap: 0 !important;

    .card-wrapper {
      width: 100%;

      .card .card-body {
        padding: 24px;
        column-gap: 16px !important;

        .card-content {
          .result-point {
            width: 110px;
            height: 110px;
            margin-inline: 9px;
          }

          /* Override Bootstrap media query (note: this is more specific thanks to "screen") */
          .progress-donut-wrapper {
            width: 128px;
            height: 128px;

            &:before {
              width: 110px;
              height: 110px;
            }

            &:after {
              width: 67px;
              height: 67px;
            }

            .progressbar-text {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
