@use "variables" as *;

#urlForm,
#urlFormPending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
  margin-bottom: 16px;

  .input-group {
    position: relative;

    .more-info {
      position: absolute;
      top: 45px;
      left: 8px;
      color: $text-secondary;

      &.error {
        color: $error;
      }
    }
  }
}

#urlFormPending {
  .form-group{
    margin-bottom: 0;
  }
}

#auditsRedoForm {
  margin-top: 8px;
}

form {
  &.settings-wrapper,
  &.audits-wrapper {
    margin-top: 1rem;
  }

  &.settings-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 24px;

    button[type="submit"] {
      max-height: fit-content;
      align-self: end;
      width: 250px;
    }
  }

  .form-group,
  fieldset {
    margin-bottom: 0.75rem;
  }

  .form-group,
  .select-wrapper {
    margin-top: 2rem;
  }

  legend,
  .select-wrapper label,
  .form-group label.active,
  .input-group label.active {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .autocomplete-list {
    position: absolute;
    top: 2.5rem;
    padding: 0;
    z-index: 1000;
  }

  .select-wrapper select {
    font-weight: 400;
  }

  .input-group input {
    color: #1a1a1a;
  }

  .form-text {
    display: block;
  }
}

/* Disabled styles */
select:disabled,
input:read-only {
  background-color: #d8d9da !important;
}

.form-check [type="checkbox"] + label,
.form-check [type="radio"] + label {
  font-size: 1rem !important;

  @media screen and (max-width: 992px) {
    font-size: 0.875rem !important;
  }
}

.form-check {
  margin-bottom: 0.25rem !important;

  + .form-check {
    margin-top: 0.25rem !important;
  }
}
