.input-group {
  width: 50%;
  min-width: 360px;
  position: relative;
  margin-bottom: 50px;

  .more-info {
    position: absolute;
    top: 45px;
    left: 8px;
    color: $text-secondary;
  }

  #progress-spinner {
    position: absolute;
    top: 0;
    right: -60px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
  }
}

form {
  &.setting-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.75rem;

    button {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
 
  .form-group,
  fieldset {
    margin-bottom: 1rem; 
  }

  .form-group{
    margin-top: 2rem;
  }

}
