@use "variables" as *;

#urlForm .input-group {
  position: relative;

  .more-info {
    position: absolute;
    top: 45px;
    left: 8px;
    color: $text-secondary;

    &.error {
      color: $error;
    }
  }
}

form {
  &.setting-wrapper {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3rem;

    button[type="submit"] {
      max-height: fit-content;
      align-self: end;
      width: 250px;
    }
  }

  &.audits-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &.form-group {
    margin-bottom: 2rem;
  }

  .form-group,
  fieldset {
    margin-bottom: 0.75rem;
  }

  .form-group {
    margin-top: 2rem;
  }

  legend,
  .select-wrapper label,
  .form-group label.active,
  .input-group label.active {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .autocomplete-list {
    position: absolute;
    top: 2.5rem;
    padding: 0;
    z-index: 1000;
  }

  .select-wrapper {
    min-width: 120px;

    select {
      font-weight: 400;
    }
  }

  .input-group input {
    color: #1a1a1a;
  }
}
