.input-group {
  width: 50%;
  min-width: 360px;
  position: relative;

  .more-info {
    position: absolute;
    top: 45px;
    left: 8px;
    color: $text-secondary;

    &.error {
      color: $error;
    }
  }

  #progress-spinner {
    position: absolute;
    top: 0;
    right: -60px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
  }
}

form {
  &.setting-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;

    button[type="submit"] {
      max-height: fit-content;
      align-self: end;
      width: 250px;
    }
  }
  &.audits-wrapper {
    margin-bottom: 2rem;
  }

  .form-group,
  fieldset {
    margin-bottom: 0.75rem;
  }

  .form-group {
    margin-top: 2rem;
  }

  legend,
  .form-group label.active {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .autocomplete-list {
    position: absolute;
    top: 2.5rem;
    padding: 0;
    z-index: 1000;
  }
}
