@use "variables" as *;

/* Keep footer at bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  footer {
    margin-top: auto;
  }
}

/* Disable user text-selection on the whole app */
body {
  user-select: none;
}

/* TEXTS */
.uppercase {
  text-transform: uppercase;
}

.text--fail {
  color: $error;
}

.text--average {
  color: $warning;
}

.text--pass {
  color: $success;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $border-color;
  margin-bottom: 1rem;
}

.icon-link {
  background: transparent;
  border: none;
  padding-inline: 0;

  svg {
    fill: $primary;
  }

  &:hover svg {
    fill: #0053a5;
  }

  &:disabled,
  &.disabled {
    svg {
      fill: $secondary;
    }
  }
}

:disabled,
.disabled {
  cursor: not-allowed !important;
}

/* Since :disabled buttons have pointer-events: none wrap them in a <span> and set cursor: not-allowed on it */
.disabled-wrapper:has(> button:disabled) {
  cursor: not-allowed;
}

.button-as-link {
  all: unset;
  outline: revert;

  color: var(--bs-link-color);
  text-decoration: underline;

  &:hover {
    color: var(--bs-link-hover-color);
  }
}

dl.info-scanning {
  font-size: 1rem;

  dt,
  dd {
    display: inline;
  }

  @media screen and (max-width: 992px) {
    row-gap: 0 !important;
  }
}

.legend {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;

  b {
    font-size: 18px;
  }

  .legend-item {
    display: flex;
    align-items: center;
    gap: 6px;

    p {
      margin: 0;
      font-size: 15px;
    }
  }
}


.history-title{
  @media screen and (max-width: 992px) {
    flex-direction: column;
    margin-bottom: 0 !important;
    .legend-space{
      align-items: flex-start !important;
      .button-legend {
          row-gap: 0.5rem !important;
          justify-content: start !important;

          b {
            width: 100%;
          }
          .icon {
            width: 28px;
            height: 28px;
          }
      }
    }
  }

}
