@use "variables" as *;

.it-header-wrapper {
  background-color: #06c;
  z-index: 11; // to stay on top of footer

  .ex-container {
    width: 100%;
  }

  .it-nav-wrapper {
    .it-header-center-wrapper {
      height: auto;
      min-height: 80px;

      @media screen and (max-width: 992px) {
        * {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }

      .it-header-center-content-wrapper {
        padding-left: 0;
        padding-right: 0;

        .it-brand-text,
        .it-brand-title {
          color: $white;
          margin-bottom: 0;
        }

        .it-right-zone {
          display: block;
          margin-left: auto;
          text-align: end;

          p {
            margin-bottom: 0;
            font-size: 1rem;
            line-height: 1.5;
          }
        }

        @media screen and (max-width: 992px) {
          flex-direction: column;
          align-items: start;
          padding-block: 8px;

          .it-brand-wrapper {
            margin-bottom: 8px;

            img {
              width: 24px;
              height: 24px;
            }
          }

          .it-right-zone {
            margin-left: 0;
            text-align: start;

            p {
              font-size: 0.875rem;
              line-height: 1.3;
            }
          }
        }
      }
    }

    .it-header-navbar-wrapper {
      @media screen and (max-width: 992px) {
        right: 12px;
        left: auto;
      }

      .navbar {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
