@use "variables" as *;

.it-header-wrapper {
  background-color: #06c;

  .it-nav-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .it-header-center-wrapper {
      height: auto;
      min-height: 80px;

      @media screen and (max-width: 992px) {
        * {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }

      .it-header-center-content-wrapper {
        padding-left: 0;
        padding-right: 0;

        .it-brand-text,
        .it-brand-title {
          color: $white;
          margin-bottom: 0;
        }
      }
    }

    .it-header-navbar-wrapper {
      @media screen and (max-width: 992px) {
        right: 12px;
      }

      .navbar {
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
