#alert-container,
#audits-wrapper {
  margin-bottom: 3rem;
}

#logs {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

#report-container {
  margin-top: 20px;
  width: 100%;
  //height: 400px;
}
