#alert-container {
  margin-top: 32px;
}

#logs {
  width: 100%;
  // magic number (header, footer & previous content);
  height: calc(100vh - 440px);
  overflow-y: scroll;
}

#report-container {
  margin-top: 20px;
  width: 100%;
}
