#alert-container {
  display: block;
}

#logs-container {
  display: none;
}

#logs {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

#iframe-container {
  display: none;
  margin-top: 20px;
  width: 100%;
  height: 400px;
}
