@use "variables" as *;

.table-wrapper {
  overflow: auto;
  contain: paint;

  .table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1rem;

    thead {
      font-weight: 700;
      position: sticky;
      top: 0;
      background-color: $white;

      th {
        border-bottom: 3px solid $secondary;
      }
    }

    tr {
      th,
      td {
        padding: 0.5rem;
        vertical-align: bottom;
      }

      td{
        white-space: nowrap;
        vertical-align: middle;
      }

      th:first-child,
      td:first-child {
        padding-left: 0.75rem;
        padding-right: 0;
        width: 0;
      }

      th:last-child,
      td:last-child {
        padding-right: 0.75rem;
        width: 0;
      }
    }
  }

  .icon {
    @media screen and (max-width: 992px) {
      width: 28px;
      height: 28px;
    }
  }
}
