@use "variables" as *;

.table-wrapper {
  overflow: auto;
  contain: paint;

  .table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1rem;

    thead {
      font-weight: 700;
      position: sticky;
      top: 0;
      background-color: $white;

      th {
        border-bottom: 3px solid $secondary;
        white-space: nowrap;
      }
    }

    tr {
      th,
      td {
        padding: 0.75rem;
        white-space: nowrap;
      }

      th:first-child,
      td:first-child {
        padding-left: 1.5rem;
      }

      th:last-child,
      td:last-child {
        padding-right: 1.5rem;
      }
    }
  }
}
