// COLORS
$white: #ffffff;
$black: #000000;
$primary: var(--bs-primary);
$secondary: var(--bs-secondary);
$text-secondary: var(--bs-gray);

$border-color: #c5c7c9;

$bg-light: #f2f7fc;
$bg-dark: var(--bs-dark);

$success: #5cc98d;
$success-text: #3c825c;
$warning: #976700;
$error: #b42d43;
$undone: #545151;
