<h1 class="h2 my-3">Storico scansioni</h1>
<%- include('partials/table-history', { items: items });  %>
<%- include('partials/components/pagination', { pagination: pagination }); %>
<script src="<%- basePathJs %>downloadButtons.js" type="module"></script>
