<h1 class="h2">Storico scansioni</h1>
<%- include('partials/table-history', { items: mock.history.data });  %>
<%- include('partials/components/pagination', { pagination: mock.history.pagination }); %>
