.accordion-header .accordion-button {
  display: block;
  color: #000000;
}
.accordion-header .accordion-button.focus--mouse {
  border-color: #c5c7c9 !important;
}
.accordion-header .accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #f2f7fc;
  border-bottom: 1px solid #c5c7c9;
}
.accordion-header .accordion-button:after {
  color: #c5c7c9;
}

.accordion-body {
  padding-bottom: 12px !important;
}
.accordion-body button[data-deselect-all] {
  width: auto !important;
}
.accordion-body .row {
  margin-right: 0;
}
.accordion-body .nav-link {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  padding: 12px;
}
.accordion-body .nav-link:hover {
  cursor: pointer;
}
.accordion-body .nav-link.active {
  border-right-color: var(--bs-primary) !important;
  background-color: #f2f7fc;
}
.accordion-body .nav-link .title {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 6px;
}
.accordion-body .nav-link .title span {
  font-size: 10px;
  color: #000000;
}
.accordion-body .nav-link .result {
  display: flex;
  flex-flow: column;
  align-items: end;
  gap: 6px;
  font-size: 12px;
}
.accordion-body .nav-link .result .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.accordion-body .nav-link .result .circle.fail {
  background-color: #b42d43;
}
.accordion-body .nav-link .result .circle.pass {
  background-color: #5cc98d;
}
.accordion-body .nav-link .result .circle.average {
  background-color: #976700;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
}
.circle.pass {
  background-color: #5cc98d;
}
.circle.fail {
  background-color: #b42d43;
}
.circle.error, .circle.undone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
}
.circle.error {
  color: #b42d43;
  border: 2px solid #b42d43;
}
.circle.undone {
  color: #545151;
  border: 2px solid #545151;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-text p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.cards-container {
  margin-block: 20px;
}
.cards-container .card-wrapper {
  width: 50%;
}
.cards-container .card-wrapper .card::after {
  display: none;
}
.cards-container .card-wrapper .card .card-body {
  padding: 16px 24px;
}
.cards-container .card-wrapper .card .card-body.error {
  background-color: #b42d43;
}
.cards-container .card-wrapper .card .card-body.error .card-title {
  color: #ffffff;
}
.cards-container .card-wrapper .card .card-body.error svg {
  width: 70px;
  height: 70px;
  stroke: #b42d43;
  stroke-width: 2px;
}
.cards-container .card-wrapper .card .card-body .card-title {
  font-size: 20px;
  margin: 0;
  color: var(--bs-primary);
  width: 100%;
  text-align: center;
}
.cards-container .card-wrapper .card .card-body .card-content .result-point {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
}
.cards-container .card-wrapper .card .card-body .card-content .result-point.ko {
  background-color: #b42d43;
}
.cards-container .card-wrapper .card .card-body .card-content .result-point.ok {
  background-color: #5cc98d;
}
.cards-container .card-wrapper .card .card-body .card-content .result-point.error {
  background-color: #ffffff;
}
.cards-container .card-wrapper .card .card-body .card-content .result-point.error svg {
  width: 50px;
  height: 50px;
  font-weight: 700;
  fill: #b42d43;
}
.cards-container .card-wrapper .card .card-body .card-content .progress-donut-wrapper::before {
  background: #b42d43;
}
.cards-container .card-wrapper .card .card-body .card-content .progress-donut-wrapper .progressbar-text {
  font-size: 1.25rem;
}
.cards-container .card-wrapper .card .card-body .card-content .result-donut {
  font-size: 16px;
  margin-top: 8px;
  text-align: center;
}
.cards-container .card-wrapper .card .card-body .card-content .result-donut span {
  font-size: 18px;
  font-weight: bold;
  color: #3c825c;
}
@media screen and (max-width: 992px) {
  .cards-container {
    flex-direction: column;
    row-gap: 0 !important;
  }
  .cards-container .card-wrapper {
    width: 100%;
  }
  .cards-container .card-wrapper .card .card-body {
    padding: 24px;
    column-gap: 16px !important;
  }
  .cards-container .card-wrapper .card .card-body .card-content {
    /* Override Bootstrap media query (note: this is more specific thanks to "screen") */
  }
  .cards-container .card-wrapper .card .card-body .card-content .result-point {
    width: 110px;
    height: 110px;
    margin-inline: 9px;
  }
  .cards-container .card-wrapper .card .card-body .card-content .progress-donut-wrapper {
    width: 128px;
    height: 128px;
  }
  .cards-container .card-wrapper .card .card-body .card-content .progress-donut-wrapper:before {
    width: 110px;
    height: 110px;
  }
  .cards-container .card-wrapper .card .card-body .card-content .progress-donut-wrapper:after {
    width: 67px;
    height: 67px;
  }
  .cards-container .card-wrapper .card .card-body .card-content .progress-donut-wrapper .progressbar-text {
    font-size: 1rem;
  }
}

/* Titillium+Web:300,400,600,700 */
/* titillium-web-300 - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.svg#TitilliumWeb") format("svg");
}
/* titillium-web-300italic - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300italic.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300italic.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300italic.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300italic.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300italic.svg#TitilliumWeb") format("svg");
}
/* titillium-web-regular - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.svg#TitilliumWeb") format("svg");
}
/* titillium-web-italic - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.svg#TitilliumWeb") format("svg");
}
/* titillium-web-700 - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.svg#TitilliumWeb") format("svg");
}
/* titillium-web-700italic - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.svg#TitilliumWeb") format("svg");
}
/* titillium-web-600 - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.svg#TitilliumWeb") format("svg");
}
/* titillium-web-600italic - latin-ext_latin */
@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600italic.eot");
  src: local(""), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600italic.woff2") format("woff2"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600italic.woff") format("woff"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600italic.ttf") format("truetype"), url("../fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600italic.svg#TitilliumWeb") format("svg");
}
.footer-spacer {
  height: 30px;
}

footer {
  padding: 1rem 0;
  background-color: var(--bs-dark);
  color: #ffffff;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover, footer a:visited {
  text-decoration: underline;
  color: #ffffff;
}

#urlForm,
#urlFormPending {
  display: grid;
  grid-template-columns: 1.1fr 3fr;
  column-gap: 24px;
  margin-bottom: 32px;
}
#urlForm .input-group,
#urlFormPending .input-group {
  position: relative;
}
#urlForm .input-group .error-message,
#urlFormPending .input-group .error-message {
  position: absolute;
  top: 45px;
  left: 8px;
  color: #b42d43;
  visibility: hidden;
}
#urlForm .input-group [aria-invalid=true] ~ .error-message,
#urlFormPending .input-group [aria-invalid=true] ~ .error-message {
  visibility: visible;
}

#urlFormPending .form-group {
  margin-bottom: 0;
}

form.settings-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 24px;
}
form.settings-wrapper button[type=submit] {
  max-height: fit-content;
  align-self: end;
  width: 250px;
}
form .form-group,
form fieldset {
  margin-bottom: 0.75rem;
}
form .form-group,
form .select-wrapper {
  margin-top: 2rem;
}
form legend,
form .select-wrapper label,
form .form-group label.active,
form .input-group label.active {
  font-size: 1.125rem;
  font-weight: 600;
}
form .autocomplete-list {
  position: absolute;
  top: 2.5rem;
  padding: 0;
  z-index: 1000;
}
form .select-wrapper select {
  font-weight: 400;
}
form .input-group input {
  color: #1a1a1a;
}
form .form-text {
  display: block;
}

/* Disabled styles */
select:disabled,
input:read-only {
  background-color: #d8d9da !important;
}

.form-check [type=checkbox] + label,
.form-check [type=radio] + label {
  font-size: 1rem !important;
}
@media screen and (max-width: 992px) {
  .form-check [type=checkbox] + label,
  .form-check [type=radio] + label {
    font-size: 0.875rem !important;
    line-height: 1.2;
    padding-top: 6px;
  }
}

.form-check {
  margin-bottom: 0.25rem;
}
.form-check + .form-check {
  margin-top: 0.25rem;
}

/* Keep footer at bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body footer {
  margin-top: auto;
}

/* Disable user text-selection on the whole app */
body {
  user-select: none;
}

/* TEXTS */
.uppercase {
  text-transform: uppercase;
}

.text--fail {
  color: #b42d43;
}

.text--average {
  color: #976700;
}

.text--pass {
  color: #5cc98d;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #c5c7c9;
  margin-bottom: 1rem;
}

.icon-link {
  background: transparent;
  border: none;
  padding-inline: 0;
}
.icon-link svg {
  fill: var(--bs-primary);
}
.icon-link:hover svg {
  fill: #0053a5;
}
.icon-link:disabled svg, .icon-link.disabled svg {
  fill: var(--bs-secondary);
}

:disabled,
.disabled {
  cursor: not-allowed !important;
}

/* Since :disabled buttons have pointer-events: none wrap them in a <span> and set cursor: not-allowed on it */
.disabled-wrapper:has(> button:disabled) {
  cursor: not-allowed;
}

.button-as-link {
  all: unset;
  outline: revert;
  color: var(--bs-link-color);
  text-decoration: underline;
}
.button-as-link:hover {
  color: var(--bs-link-hover-color);
}

dl.info-scanning {
  font-size: 1rem;
}
dl.info-scanning dt,
dl.info-scanning dd {
  display: inline;
}
@media screen and (max-width: 992px) {
  dl.info-scanning {
    row-gap: 0 !important;
  }
}

.legend {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}
.legend b {
  font-size: 18px;
}
.legend .legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.legend .legend-item p {
  margin: 0;
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .history-title {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .history-title .legend-space {
    align-items: flex-start !important;
  }
  .history-title .legend-space .button-legend {
    row-gap: 0.5rem !important;
    justify-content: start !important;
  }
  .history-title .legend-space .button-legend b {
    width: 100%;
  }
  .history-title .legend-space .button-legend .icon {
    width: 28px;
    height: 28px;
  }
}

.it-header-wrapper {
  background-color: #06c;
  z-index: 11;
}
.it-header-wrapper .ex-container {
  width: 100%;
}
.it-header-wrapper .it-nav-wrapper .it-header-center-wrapper {
  height: auto;
  min-height: 80px;
}
@media screen and (max-width: 992px) {
  .it-header-wrapper .it-nav-wrapper .it-header-center-wrapper * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-text,
.it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-title {
  color: #ffffff;
  margin-bottom: 0;
}
.it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone {
  display: block;
  margin-left: auto;
  text-align: end;
}
.it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone p {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  .it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper {
    flex-direction: column;
    align-items: start;
    padding-block: 8px;
  }
  .it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper {
    margin-bottom: 8px;
  }
  .it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-brand-wrapper img {
    width: 24px;
    height: 24px;
  }
  .it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone {
    margin-left: 0;
    text-align: start;
  }
  .it-header-wrapper .it-nav-wrapper .it-header-center-wrapper .it-header-center-content-wrapper .it-right-zone p {
    font-size: 0.875rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 992px) {
  .it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper {
    right: 12px;
    left: auto;
  }
}
.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper .navbar {
  padding-left: 0;
  padding-right: 0;
}
.it-header-wrapper .nav-item:has(.nav-link.disabled) {
  cursor: not-allowed !important;
}
.it-header-wrapper .nav-item .nav-link.disabled {
  opacity: 0.7 !important;
}

section.metrics .donut-container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section.metrics .legend-item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3.5px;
  border-radius: 100%;
  background-color: #b42d43;
  margin-right: 12px;
}
section.metrics .legend-item.average::before {
  background-color: #976700;
}
section.metrics .legend-item.pass::before {
  background-color: #5cc98d;
}

.metrics-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem 2rem;
  padding-bottom: 2rem;
}
.metrics-container .metric-wrapper {
  padding-bottom: 1rem;
  border-bottom: 1px solid #c5c7c9;
}
.metrics-container .metric-wrapper .d-flex {
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.metrics-container .metric-wrapper p {
  margin: 0;
}
.metrics-container .metric-wrapper p.result {
  font-size: 32px;
  font-weight: 700;
}
.metrics-container .metric-wrapper .pass {
  color: #5cc98d;
  stroke: #5cc98d;
}
.metrics-container .metric-wrapper .fail {
  color: #b42d43;
  stroke: #b42d43;
}
.metrics-container .metric-wrapper .average {
  color: #976700;
  stroke: #976700;
}
.metrics-container .metric-wrapper .icon {
  width: 28px;
  height: 28px;
  position: relative;
  bottom: 2px;
  margin-right: 6px;
}

iframe,
textarea {
  display: block;
}

select,
::-webkit-search-cancel-button {
  cursor: pointer;
}

ul[role=list] {
  margin: 0;
  padding: 0;
  list-style: none;
}

#alert-container {
  margin-top: 32px;
}

#logs {
  width: 100%;
  overflow-y: scroll;
}

#logs-report {
  min-height: 320px;
}

#report-container {
  margin-top: 20px;
  width: 100%;
}

.table-wrapper {
  overflow: auto;
  contain: paint;
}
.table-wrapper .table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1rem;
}
.table-wrapper .table thead {
  font-weight: 700;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.table-wrapper .table thead th {
  border-bottom: 3px solid var(--bs-secondary);
}
.table-wrapper .table tr th,
.table-wrapper .table tr td {
  padding: 0.5rem;
  vertical-align: bottom;
}
.table-wrapper .table tr td {
  white-space: nowrap;
  vertical-align: middle;
}
.table-wrapper .table tr th:first-child,
.table-wrapper .table tr td:first-child {
  padding-left: 0.75rem;
  padding-right: 0;
  width: 0;
}
.table-wrapper .table tr th:last-child,
.table-wrapper .table tr td:last-child {
  padding-right: 0.75rem;
  width: 0;
}
@media screen and (max-width: 992px) {
  .table-wrapper .icon {
    width: 28px;
    height: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
