<div class="p-4 text-center" role="alert">
  <div class="h5 mb-0 d-flex align-items-center justify-content-center gap-2">
    <svg class="icon icon-danger"><use href="#it-error"></use></svg>
    Nessun risultato
  </div>
</div>
