<div class="skiplinks">
  <a class="visually-hidden-focusable" href="#main">Vai al contenuto principale</a>
  <% if (currentPage === 'history') { %>
    <a class="visually-hidden-focusable" href="#pagination">Vai al paginatore</a>
  <% } %>
  <a class="visually-hidden-focusable" href="#footer">Vai al piede di pagina</a>
</div>