<!-- LOGS SECTION -->
<div id="logs-container">
  <div class="progress-bar-wrapper mb-4">
    <div class="progress-bar-label">Scansione in corso...</div>
    <div class="progress progress-indeterminate">
      <span class="visually-hidden">In elaborazione...</span>
      <div class="progress-bar" role="progressbar"></div>
    </div>
  </div>
  <textarea id="logs" class="font-monospace" readonly></textarea>
</div>

<!-- workaround to navigate programmatically -->
<a class="visually-hidden" aria-hidden="true" data-page="report" href="/report">
  Report
</a>
