<!-- REPORT SECTION -->
<div id="report-container" class="d-none">
  <div class="progress-bar-wrapper mb-4">
    <div class="progress-bar-label">Scanning completato 100%</div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <h2>Report</h2>
  <iframe id="reportFrame" src=""></iframe>
</div>