<div class="footer-spacer"></div>
<footer>
  <div class="container">
    <p>
      Dipartimento per la trasformazione digitale
      <span class="visually-hidden"> - apre in una nuova scheda</span>
    </p>
  </div>
</footer>