<div class="footer-spacer"></div>
<footer>
  <div class="container">
    <p>
      Dipartimento per la trasformazione digitale
    </p>
    <a href="https://docs.italia.it/italia/designers-italia/app-valutazione-modelli-docs/it/versione-attuale/index.html" target="_blank" rel="noopener noreferrer">
      Documentazione delle App di valutazione dell’adesione ai modelli
      <span class="visually-hidden"> - apre in una nuova scheda</span>
    </a>
    &nbsp;&bull;&nbsp;
    <a href="https://github.com/italia/pa-website-validator-gui/issues" target="_blank" rel="noopener noreferrer">
      Invia una segnalazione
      <span class="visually-hidden"> - apre in una nuova scheda</span>
    </a>
  </div>
</footer>