<div class="footer-spacer"></div>
<footer>
  <div class="container">
    <p>
      <a href="https://innovazione.gov.it/" target="_blank" rel="noopener noreferrer">
        Dipartimento per la trasformazione digitale
        <span class="visually-hidden"> - apre in una nuova scheda</span>
      </a>
    </p>
  </div>
</footer>