<div class="footer-spacer"></div>
<footer>
  <div class="container d-flex gap-3">
    <p class="pr-4"> Versione GUI: <%- guiVersion %> </p>
    <p> Versione App di valutazione: <%- crawlerVersion %> </p>
    <p>
      <a href="https://innovazione.gov.it/" target="_blank">Dipartimento per la trasformazione digitale</a>
    </p>
  </div>
</footer>