<div class="it-header-center-wrapper mb-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <div class="it-brand-text">
              <div class="it-brand-title h4">
                App di valutazione <%- crawlerVersion %>
              </div>
            </div>
          </div>
          <div class="it-right-zone">
            <ul class="d-flex">
              <!-- TODO: add aria-current="page" -->
              <li><a data-page="home" href="/home">Nuova scansione</a></li>
              <li><a data-page="history" href="/history">Storico</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>