<div class="d-flex justify-content-start mb-2 gap-2 flex-wrap">
  <span>
    <b>Accuratezza:</b>
    <%-
      accuracy === 'all'
        ? 'Completa (Tutte le pagine)'
        : accuracy === 'high'
        ? 'Alta (10 pagine)'
        : accuracy === 'suggested'
        ? 'Media (5 pagine)'
        : accuracy === 'min'
        ? 'Bassa (1 pagina)'
        : 'Non definita'
    %>;
  </span>
  <span><b>Timeout:</b> <%- timeout %>;</span>
  <span><b>Numero di pagine:</b> <%- numberOfPages %></span>
</div>