<div class="d-flex gap-3 flex-wrap align-items-center">
  <% if (!locals.hideTitle) { %>
    <b aria-hidden="true">Legenda:</b>
  <% } %>

  <% if (locals.variation === "results") { %>
    <ul class="legend" role="list" title="Legenda risultato">
      <li class="legend-item">
        <div class="circle pass" aria-hidden="true"></div>
        <p id="legend-pass">Superato</p>
      </li>

      <li class="legend-item">
        <div class="circle fail" aria-hidden="true"></div>
        <p id="legend-fail">Fallito</p>
      </li>

      <li class="legend-item">
        <div class="circle error" aria-hidden="true"></div>
        <p id="legend-error">Errore</p>
      </li>

      <li class="legend-item">
        <div class="circle undone" aria-hidden="true"></div>
        <p id="legend-undone">Non eseguito</p>
      </li>
    </ul>
  <% } %>

  <% if (locals.variation === "buttons") { %>
    <ul class="legend" role="list" title="Legenda azioni disponibili">
      <li class="legend-item">
        <svg class="icon">
          <use href="#it-note"></use>
        </svg>
        <p>Dettaglio scansione</p>
      </li>

      <li class="legend-item">
        <svg class="icon">
          <use href="#it-password-visible"></use>
        </svg>
        <p>Visualizza report</p>
      </li>

      <li class="legend-item">
        <svg class="icon">
          <use href="#it-download"></use>
        </svg>
        <p>Scarica report</p>
      </li>

      <li class="legend-item">
        <svg class="icon">
          <use href="#it-delete"></use>
        </svg>
        <p>Elimina report</p>
      </li>
    </ul>
  <% } %>
</div>