name: Build GUI App

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        target:
          - arch: arm64
            os: mac
            runner: macos-latest
            build-type-file: zip
          - arch: intel
            os: mac
            runner: macos-13
            build-type-file: zip
          - arch: x64
            os: linux
            runner: ubuntu-latest
            build-type-file: AppImage
          - arch: x64
            os: win
            runner: windows-latest
            build-type-file: zip
        node-version: [20]
    runs-on: ${{ matrix.target.runner }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Install ChromeShell
        run: npm run installChromeShell

      - name: Update GeoIP database
        run: npm run updateGeoIPData
        env:
          LICENSE_KEY: ${{ secrets.GEOIP_LICENSE_KEY }}
        continue-on-error: true

      - name: Install Snapcraft on Ubuntu
        if: runner.os == 'Linux' && matrix.target.runner == 'ubuntu-latest'
        run: |
          sudo snap install snapcraft --classic

      - name: Compile code
        run: npx electron-builder --${{ matrix.target.os }} --publish never
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: List files in dist
        run: ls -l dist/

      - name: Remove extended attributes on macOS
        if: runner.os == 'macOS'
        run: xattr -rd com.apple.quarantine dist/*

      - name: Upload Artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: Release-${{ github.ref_name }}-App-${{ matrix.target.os }}_${{ matrix.target.arch }}
          path: dist/**/*.${{ matrix.target.build-type-file }}

      - name: Update GitHub Release with artifacts
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v1
        with:
          files: dist/**/*.${{ matrix.target.build-type-file }}
