name: Static checks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.11.0
      - name: Install modules
        run: npm ci
      - name: TypeScript
        run: npm run type:check
      - name: ESLint
        run: npm run lint:check
      - name: Prettier
        run: npm run format:check
